.sort-products {


  @apply hidden lg:flex justify-between items-center;

  padding: 16px 10px;

  &__filter {
    @apply flex items-center;
    &-title {
      font-size: 13px;
      font-weight: 500;
      color: #232933;
      margin-left: 11px;
    }

    &-icon {
      fill: #424750;
      height: 24px;
      width: 24px;
      margin-left: 4px;
    }


    &-item {
      color: #4d4d4d;
      display: inline-block;
      padding: 1px 8px;
      position: relative;
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;
      vertical-align: middle;
      border-radius: 7px;

      &:hover {
        a {
          color: #000;
        }
      }

      &--active {
        @apply bg-gradient-to-r from-dynamic-color-from to-dynamic-color-to;

        &:hover{
          a{
            color: #fff !important;
          }
        }
        a {
          color: #fff;
        }
      }
    }
  }

  &__count {
    color: #81858b;
    font-size: 14px;
    font-weight: 400;
    .count {
      line-height: 16px;
    }

    .total {
      font-weight: 700;
      color: rgb(129, 133, 139);
    }
  }
}


.prK_orderby_mobile {
  position: absolute;
  top: 100%;
  background: #fff;
  width: 200px;
  padding: 10px;
  text-align: right;
  line-height: 24px;
  display: inline-block;
  z-index: 9999;
  right: 50%;
  transform: translateX(50%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 11px;
  padding-right: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all .1s;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  ul li {
    line-height: 30px;
    font-size: 15px;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 8px;
      display: inline-block;
      margin-left: 5px;
      background-color: #dbdbdb;
    }

    a{
      @apply pr-[10px];
    }

    &.is-active {
      &::before{
        @apply bg-gradient-to-r from-dynamic-color-from to-dynamic-color-to;
      }
      a {
        @apply text-dynamic-color-to;
      }
    }
  }
}

/* totalitems loader */
.loader-count {
  margin: 0 15px;
  width: 7px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 .5s infinite linear alternate;
}
@keyframes l5 {
  0%  {box-shadow: 10px 0 rgb(129, 133, 139), -10px 0 #0003;background: rgb(129, 133, 139) }
  33% {box-shadow: 10px 0 rgb(129, 133, 139), -10px 0 #0003;background: #0003}
  66% {box-shadow: 10px 0 #0003,-10px 0 rgb(129, 133, 139); background: #0003}
  100%{box-shadow: 10px 0 #0003,-10px 0 rgb(129, 133, 139); background: rgb(129, 133, 139) }
}

//mobile
.title_shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e3e3e3;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  font-size: 14px;
  font-weight: 700;
}

.box-filter-shop {
  display: flex;
  align-items: center;
  border: 1px solid #e3e3e3;
  background: #fff;
  z-index: 999;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  font-size: 13px;
  justify-content: space-evenly;
  box-shadow: 0 3px 12px 0 rgb(0 0 0 / 16%);
  &.fixed{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background: #fff;
    border-radius: 0;
    z-index: 999;
  }
}

.box-filter-shop > div {
  width: 50%;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #4444;
    padding: 9px 12px;
    svg{
      @apply ml-[6px];
    }
  }
}
