.section-slider {
  @apply my-[30px];

  .swiper-slide{
    height: auto;
  }

  &__title {
    background: #F2F2F2;
    padding: 8px 9px;
    border-radius: 16px;
    margin-bottom: 20px;
  }

  .swiper-button{
    position: relative;
    padding: 0;
    transform: translateY(0);
  }

  .slider__buttons {
    button {
      @apply flex justify-center items-center;
      width: 41px;
      height: 41px;
      border-radius: 13px;
      @apply bg-gradient-to-r from-dynamic-color-from to-dynamic-color-to;
    }
  }

  .swiper-button-disabled{
    @apply opacity-40;
  }

  .product{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(0, 0, 0, 0.06);
    padding: 23px 23px 23px 23px !important;
    border-radius: 26px !important;
    box-shadow: 1px 1px 6px 1px #F9F9F9;
    padding: 5px 10px !important;

    height: 100%;
    width: 100%;
    &::before,&::after{
      display: none;
    }
    &:hover{
      box-shadow: none;
    }
    .thumb-pro{
      @apply w-[150px] md:w-auto md:max-w-[85%];
      margin: 0 auto !important;
    }
    .index-prices-pro{
      height: auto;
      display: unset !important;
    }
    .index-prices-pro{
      @apply pb-0;
    }
  }
}

.slide {
  width: 100%;
  padding: 12px;
  position: relative;
  border-radius: 11px;
  box-sizing: border-box;
  background-color: #fff;
  display: inline-block;


  .thumb-pro {
    max-width: 67%;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

//mobile product slider
.section-slider {
  margin: 30px 0;
  &.slide-mobile {
  @apply  border-none;
    .prk-post-item{
      min-width: 250px;
      height: auto;
    }
    .product{
      width: 220px;
      min-width: 220px;
      height: auto;
      border: 1px solid #e3e3e3 !important;
      &+.product{
        margin-right: 6px;
      }
      .index-prices-pro{
        @apply mb-3;
      }
    }

    .info-product{
      padding: 0 !important;
    }
    .offers{
      @apply pt-[8px];
    }
  }

  .head-product {
    position: relative;
    font-weight: 600;
    color: #515151;
    width: 95%;
    border: none;
    margin: 5px 0px !important;
    padding-bottom: 0;

    h3 {
      font-size: 14px !important;
      margin-right: 3px;
      color: #2d2d2d;
      font-weight: 700;
      line-height: 32px;

      .titles-pro {
        font-weight: 700;
        color: #222;
        font-size: 15px;
        line-height: 1.571;

        &::after {
          height: 0;
        }
      }
    }

  }

  .carousel_lister {
    padding: 10px 0;
    overflow-x: auto;
    gap: 10px;
    display: flex;

    &::-webkit-scrollbar{
      height: 10px;
    }
  }
}


