.product-slider {
  .slider__buttons {
    button {
      border: 1px solid #dddde1 !important;
      background: white !important;
      border-radius: 50% !important;
      box-shadow: -1.5px 0 4px 0 rgb(0 0 0 / 15%);
      &.right{
        right: 10px;
      }
      &.left{
        left: 10px;
      }
    }
  }
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 11px;

  &__title {
    font-weight: 600;
    color: #515151;
    width: 95%;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 15px;

    span {
      position: relative;

      &::after {
        position: absolute;
        width: 100%;
        left: 0;
        content: "";
        top: calc(100% + 11px);
        height: 2px;
        @apply bg-gradient-to-l from-dynamic-color-from to-dynamic-color-to;
      }
    }
  }
}

.slide {
  width: 100%;
  padding: 12px;
  position: relative;
  border-radius: 11px;
  box-sizing: border-box;
  background-color: #fff;
  display: inline-block;


  .thumb-pro {
    max-width: 67%;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

.de-slider{
  .product{
    padding: 5px 10px !important;
    &::before,&::after{
      display: none;
    }
    &:hover{
      box-shadow: none;
    }
    .thumb-pro{
      @apply w-[150px] md:w-auto md:max-w-[67%];
      margin: 0 auto !important;
    }
    .index-prices-pro{
      height: auto;
    }
    .index-prices-pro{
      @apply pb-0 lg:pb-3;
    }
  }
}

//mobile product slider

.product-slider {
  margin: 20px 0;


  &.slide-mobile {
  @apply m-0 border-none;
    .product{
      min-width: 200px;
      border: 1px solid #e3e3e3 !important;
      &+.product{
        margin-right: 6px;
      }
    }
    .info-product{
      padding: 0 !important;
    }
    .offers{
      @apply pt-[8px];
    }
  }

  .head-product {
    position: relative;
    font-weight: 600;
    color: #515151;
    width: 95%;
    border: none;
    margin: 5px 0px !important;
    padding-bottom: 0;

    h3 {
      font-size: 14px !important;
      margin-right: 3px;
      color: #2d2d2d;
      font-weight: 700;
      line-height: 32px;

      .titles-pro {
        font-weight: 700;
        color: #222;
        font-size: 15px;
        line-height: 1.571;

        &::after {
          height: 0;
        }
      }
    }

  }

  .carousel_lister {
    margin: 0 10px;
    padding: 10px 0;
    overflow-x: auto;
    display: flex;

    &::-webkit-scrollbar{
      height: 10px;
    }
  }
}
