.slide{
  padding: 5px 10px !important;
  .thumb-pro{
    max-width: 75% !important;
    margin: 0 auto !important;
  }
  .index-title-pro h2 {
    @apply leading-[20px] md:leading-[25px];
    margin-top: 10px !important;
    color: #2a2a2a !important;
    padding: 0 5px;
    @apply text-[13px] md:text-[16px];
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    font-weight: 600;
    text-align: right;
  }
  .index-prices-pro{
    margin-top: 20px;
    padding: 0 5px;
    .index-discount-pro,.price_sale{
      @apply text-[11px] md:text-[16px]
    }
  }
}