.category-seo {

  display: inline-block;
  position: relative;
  border-radius: 11px;
  margin: 15px 0 10px;
  padding: 20px 30px 10px 30px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: -.1px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  color: #656565;


  &__title {
    font-size: 20px;
    color: #2c2b2b;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .footer-description-shop.boxed .term-description {
    max-height: 300px;
    overflow: hidden;
  }

  a.mask-handler {
    font-size: 12px;
    margin: 3px 0;
    font-weight: 500;
    color: #474747;
    text-align: center;

    .show-more, .show-less {
      margin-top: 15px;
      color: #1051ef !important;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      position: relative;
      font-size: 15px;
    }

    .show-less {
      padding: 5px 0;
    font-size: 12px;
    }
  }

  &__description {
    max-height: 300px;
    overflow: hidden;

    &--open {
      max-height: unset !important;
    }
  }
}