.topics{
  border: 1px solid #e3e3e3;
  @apply my-[20px] px-[10px];
  border-radius: 11px;
  transition: 0.3s all;
  &__title{
    font-weight: 700;
    color: #535353;
    border-bottom: 1px solid #ECECEC;
    line-height: 32px;
    padding: 20px 5px;
  }
  &__body{
    padding: 15px 5px;
    font-weight: 500;
    color: #313131;
    line-height: 30px;
  }

  &.isPassReq{
    background: #435bfa20;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: url(#blur);
    filter: blur(5px);
  }
}