
.img-zoom-container {
  position: relative;
  z-index: 1;
}

.img-zoom-lens {
  visibility: hidden;
  position: absolute;
  cursor: crosshair;
  width: 250px ;
  height: 250px ;
  border-radius: 6px ;
  background: rgba(239, 86, 97, 0.10) ;
  border: 1px solid rgba(239, 86, 97, 0.19) ;
}

.img-zoom-result {
  visibility: hidden;
  position: absolute;
  @apply hidden md:block;
  top: 20px;
  right: 30px;
  border: 1px solid #d4d4d4;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}