
.img-zoom-container {
  position: relative;
  z-index: 1;
}

.img-zoom-lens {
  visibility: hidden;
  position: absolute;
  cursor: crosshair;
  width: 250px;
  height: 250px;
  border-radius: 6px;
  @apply bg-dynamic-color-from-rgba-20 border border-dynamic-color-from-rgba-30;
}

.img-zoom-result {
  visibility: hidden;
  position: absolute;
  @apply hidden lg:block;
  top: 0;
  right: 0;
  border: 1px solid #d4d4d4;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}