.product {
  @apply inline-block transition-shadow duration-[0.15s] ease-[ease] bg-white text-center relative m-0 pb-0 after:w-screen after:h-px
  after:top-[-1.5px] after:inset-x-0 before:w-px before:h-[-webkit-fill-available] before:left-[-1.5px]
  before:top-0 hover:shadow-[0_2px_17px_0_rgba(0,0,0,0.09)] hover:z-[11];
  @apply h-auto relative;
}
.product::before, .product::after {
  @apply content-[""] absolute bg-[#e4e4e4] bg-opacity-70 z-[1];
  @apply block;
}
.product__label {
  @apply absolute rounded-full top-[10px] lg:top-[35px] left-[10px]
    bg-green-100 text-green-800 text-xs font-medium  px-2.5 py-0.5;
}
.product:hover .hover-image img {
  @apply opacity-0 invisible;
}
.product:hover .second-img {
  @apply opacity-100 visible !important;
}
.product .info-product {
  @apply p-2.5;
  @apply flex flex-col justify-between h-full;
}
.product:hover {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), transform 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.product .product-box-inner {
  @apply relative w-full h-full transition-transform duration-[0.8s];
  transform-style: preserve-3d;
}
.product .archive-swatches {
  @apply absolute flex flex-col justify-center items-center right-2.5 top-[50px];
}
.product .onsale {
  @apply relative min-h-0 right-0 top-[unset];
  display: unset !important;
}
.product .archive-swatch {
  @apply w-3.5 h-3.5 block relative mb-1 rounded-[50%];
}
.product .archive-swatch:hover .tooltiptext {
  @apply visible;
}
.product .archive-swatch:nth-of-type(1) {
  @apply bg-[#f7a468];
}
.product .archive-swatch:nth-of-type(2) {
  @apply bg-[#5947da];
}
.product .archive-swatch:nth-of-type(3) {
  @apply bg-[#1d9a34];
}
.product .swatches-divider {
  @apply relative text-[#474444] tracking-[-1px] text-xs font-medium mt-1;
}
.product .tooltiptext {
  @apply invisible bg-[#878d9d] w-auto text-center z-[1] top-[-5px] absolute text-white text-xs
    leading-[1.692] whitespace-nowrap font-medium px-2 py-0.5 rounded-[3px] right-[200%];
  animation-name: Ib;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}
.product .tooltiptext::after {
  @apply content-[""] absolute right-[-7px] -mt-2.5 border-l-[#878d9d] border-[5px] border-solid border-transparent border-t-[10px]
      border-r-[0] border-b-[12px] border-l-[10px] left-full top-2/4;
}
.product .thumb-pro {
  @apply w-[85%] relative max-w-[82%] overflow-hidden text-center mx-auto my-2.5;
}
.product .thumb-pro img {
  @apply max-w-[220px] transition-all duration-[0.2s] ease-[ease] block w-full h-auto object-contain mx-auto my-0;
}
.product .thumb-pro .second-img {
  @apply opacity-0 invisible absolute border-0 top-0 inset-x-0;
}
.product #sales_timer_display span .dot {
  @apply text-base font-bold mx-1.5 my-0;
}
.product .index-prices-pro {
  @apply h-[50px] float-left inline-block;
}
.product .index-prices-pro del {
  @apply flex items-center no-underline;
  @apply text-dynamic-color-to;
  justify-content: left;
}
.product .index-prices-pro del .index-discount-pro {
  @apply float-left text-[13px] text-white font-bold leading-[18px] inline-flex order-2 mr-[5px] px-[7px] py-0.5 rounded-[9px];
  @apply bg-gradient-to-r from-dynamic-color-from to-dynamic-color-to;
}
.product .index-prices-pro del span.woocommerce-Price-amount {
  @apply font-normal text-xs line-through inline-block;
}
.product .index-prices-pro ins {
  @apply no-underline block text-left mt-[5px];
}
.product .index-prices-pro ins span {
  @apply font-bold text-sm inline-block;
}
.product .index-prices-pro ins span bdi {
  @apply flex items-center justify-end;
}
.product .index-prices-pro ins span bdi .woocommerce-Price-currencySymbol {
  @apply font-medium order-1 text-xs mr-1;
}
.product .index-title-pro h2 {
  @apply text-[#212121] text-[13px] leading-[22px] overflow-hidden text-ellipsis h-[45px] font-semibold text-right mt-[15px] mb-2.5 mx-0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*# sourceMappingURL=index.css.map */
