.product {
  display: inline-block;
  transition: box-shadow .15s ease;
  background-color: #fff;
  padding-bottom: 0;
  margin: 0;
  text-align: center;
  position: relative;
  &::before,
  &::after {
    @apply hidden lg:block;
    content: '';
    position: absolute;
    background-color: #e4e4e4;
    z-index: 1;
  }
  &::after {
    width: 100vw;
    height: 1px;
    left: 0;
    right: 0;
    top: -1.5px;
  }
  &::before {
    width: 1px;
    height: -webkit-fill-available;
    left: -1.5px;
    top: 0;
  }

  @apply h-auto xl:h-[380px] rounded-[14px] lg:rounded-[0] lg:border-none
  border border-solid border-[#e4e4e4]
  relative ;
}