.login {

  .label{
    @apply flex justify-between;
    font-size: 13px;
    line-height: 21px;
    color: #62666d;
    margin-bottom: 15px;
  }


  .modal__body {
    width: 77%;
    margin: 29px auto;
    margin-top: 25px;
    .back-prev-step {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .title {
    padding: 20px 25px;
    padding-bottom: 0;
    width: 100%;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .logo {
    max-width: 164px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .copyright {
    text-align: right;
    color: #494c52;
    font-size: 12px;
    line-height: 23px;
    margin-top: 20px;
    font-weight: 400;

    a {
      position: relative;
      font-weight: 600;
      border-bottom: 1px solid;
      color: #1051ef;
    }
  }

  .sms-confirm--retrieve {
    display: block;
    border: none;
    font-weight: 700;
    color: #1051ef;
    padding: 12px;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    background: none;
    margin: 10px auto;
    cursor: pointer;
  }

  .sms-confirm--timer-holder{
    font-weight: 700;
    color: #81858b;
    padding: 12px;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
  }
}

//modal
.modal{
  &.login{
    @apply w-full h-full max-w-full rounded-[0] #{!important};
    @apply lg:w-[31%] lg:max-w-[500px] lg:h-max lg:rounded-[12px] #{!important};
  }
}

