.product-details__content {
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 11px;
  margin: 15px 0 5px 0;
  padding: 25px 20px;
  border: 1px solid #e3e3e3;
}
.product-details__content .slider {
  width: 36%;
  position: sticky !important;
  top: 85px !important;
}
.product-details__content .slider .onsale,
.product-details__content .slider #sales_timer_display {
  @apply text-[16px];
}
.product-details__content .slider .sales_timer_display {
  padding-left: 20px;
}
.product-details__content .slider .main_gallery_product {
  overflow: hidden;
  padding: 15px 0 3px 0 !important;
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: center;
}
.product-details__content .slider .main_gallery_product li {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #e0e0e2;
  border-radius: 9px;
  overflow: hidden;
  margin-left: 1.4%;
  position: relative;
  display: inline-block;
  padding: 4px;
  flex: 0 0 auto;
  width: 15%;
  transition: 0.1s all;
  max-width: 82px;
  max-height: 82px;
}
.product-details__content .slider .main_gallery_product li img {
  margin: auto;
  border-radius: 5px;
  display: flex !important;
  align-items: center;
  width: 100%;
  height: auto !important;
  max-width: 72px !important;
  box-shadow: none;
}
.product-details__content .slider .main_gallery_product li.show_modal_gallery {
  text-align: center;
  position: relative;
}
.product-details__content .slider .main_gallery_product li.show_modal_gallery img {
  filter: blur(4px);
}
.product-details__content .summary {
  width: 64%;
  padding: 0 10px;
  background-color: #FFF;
  display: inline-block;
}
.product-details__content .summary form {
  display: flex;
  justify-content: space-between;
}
.product-details__content .summary .all-features hr {
  border-color: #e0e0e2 !important;
  border-top: 1px solid;
  flex-grow: 1;
}
.product-details__content .summary .all-features button {
  border: 1px solid #e0e0e2;
  background-color: transparent;
  color: #0c0c0c;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 12px;
}
.product-details__content .summary .flexed_start {
  display: flex;
  align-items: center;
}
.product-details__content .summary .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 0.5rem;
  list-style: none;
  align-items: center;
}
.product-details__content .summary .breadcrumb a {
  display: inline-flex;
  position: relative;
  @apply text-dynamic-color-from;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.product-details__content .summary .product_title {
  font-weight: 700;
  line-height: 30px;
  color: #000;
  font-size: 17px;
  max-width: 500px;
  clear: none;
  margin-top: 0;
  padding: 0;
}
.product-details__content .summary .product-en span.en_name_pro {
  max-width: 500px;
  color: #939191;
  font-size: 12px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
}
.product-details__content .summary__cart {
  width: 38%;
  max-width: 345px;
  border: 1px solid #e0e0e2;
  padding: 10px;
  border-radius: 14px;
  background: #f8f8f8;
  align-self: baseline;
}
.product-details__content .summary__cart .product-seller-info .product-seller-row {
  display: flex;
  padding: 15px 0;
  position: relative;
}
.product-details__content .summary__cart .product-seller-info .product-seller-row::after {
  bottom: 2px;
  height: 1px;
  content: "";
  position: absolute;
  right: 12px;
  left: 12px;
  background-color: #e4e4e4;
}
.product-details__content .summary__cart .product-seller-info .product-seller-row .product-seller-row-icon {
  width: 45px;
}
.product-details__content .summary__cart .product-seller-info .product-seller-row .product-seller-row-detail .product-seller-name, .product-details__content .summary__cart .product-seller-info .product-seller-row .product-seller-row-detail .pluses {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
.product-details__content .summary__cart .product-seller-info .product-seller-row .product-seller-row-detail .product-seller-row-detail-title {
  font-size: 13px;
  font-weight: 500;
}
.product-details__content .summary__cart .product-seller-info .product-seller-row .good-seller {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10rem;
  color: #00a049;
  background: rgba(0, 160, 73, 0.1);
  padding: 2px 11px;
}
.product-details__content .summary__cart .back_holder {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.product-details__content .summary__cart .back_holder .add-to-cart {
  display: flex;
  align-items: center;
}
.product-details__content .summary__cart .back_holder .add-to-cart .quantity {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border: 2px solid #E7E7E7;
  border-radius: 8px;
  margin: 0 0 0 4px;
  width: 40%;
}
.product-details__content .summary__cart .back_holder .add-to-cart .quantity a {
  cursor: pointer;
}
.product-details__content .summary__cart .back_holder .add-to-cart .quantity input {
  width: 100% !important;
  border-radius: 8px;
  background: transparent;
  color: #535353;
  font-size: 13px;
  text-align: center;
}
.product-details__content .summary__cart .back_holder .add-to-cart button {
  width: 70%;
  @apply bg-dynamic-color-from mt-0 text-[13px];
}
.product-details__content .summary__cart .back_holder .price {
  font-size: 21px;
  font-weight: 600;
  color: #000;
}
.product-details__content .summary__cart .back_holder .price span {
  @apply text-[14px];
}
.product-details__content .summary__cart .back_holder .update-price {
  text-align: left;
  font-weight: 400;
  color: #444;
  margin-bottom: 10px;
  font-size: 13px;
  display: block;
}
.product-details__content .summary__cart .back_holder .old-price {
  font-size: 13px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.product-details__content .summary__cart .back_holder .old-price__value {
  @apply text-dynamic-color-from;
  text-decoration: line-through;
}
.product-details__content .summary__cart .back_holder .old-price .discount {
  font-size: 13px;
  padding: 2px 7px;
  border-radius: 9px;
  color: #fff;
  font-weight: bold;
  line-height: 18px;
  display: flex;
  @apply bg-dynamic-color-from ms-[5px];
}
.product-details__content .summary__cart .back_holder .old-price .discount p {
  line-height: 20px;
  padding: 0;
  color: #fff !important;
  margin-right: 1px;
}
.product-details__content .summary__content {
  width: 60%;
}
.product-details__content .summary__content .rating_and_nummbercomment {
  display: flex;
  gap: 10px;
  border-top: solid 1px #dddd;
  padding-top: 5px;
}
.product-details__content .summary__content .rating_and_nummbercomment .flexed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-details__content .summary__content .rating_and_nummbercomment .rating_product {
  background: #9f9f9f;
  border-radius: 5px;
  padding: 0 4px;
  height: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details__content .summary__content .rating_and_nummbercomment .rating_product .average-rating {
  font-size: 11px;
}
.product-details__content .summary__content .rating_and_nummbercomment .rating_count {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  margin-right: 7px;
  color: #7b7b7b;
}
.product-details__content .summary__content .rating_and_nummbercomment .comments_number {
  display: flex;
  align-items: center;
}
.product-details__content .summary__content .rating_and_nummbercomment .comments_number p {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  line-height: 12px;
  @apply text-dynamic-color-from;
}
.product-details__content .summary__content .rating_and_nummbercomment .comments_number p span {
  margin-left: 4px;
}
.product-details__content .summary__content .rating_and_nummbercomment .product_meta .sku_wrapper {
  color: #4d4d4d;
  font-size: 12px;
  margin: 0;
  line-height: 24px;
  font-weight: 700;
}
.product-details__content .summary__content .rating_and_nummbercomment .product_meta .sku_wrapper span {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  color: #777;
}
.product-details__content .summary__content .variations {
  padding: 5px 0;
}
.product-details__content .summary__content .variations .label {
  width: 100%;
  display: block;
  text-align: right;
}
.product-details__content .summary__content .variations .thwvsf-wrapper-ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.product-details__content .summary__content .variations .thwvsf-wrapper-ul li {
  align-items: center;
  background-color: #FFF;
  box-shadow: none;
  width: auto !important;
  min-width: unset;
  border-radius: 11px !important;
  border: 2px solid #ddd;
  height: 35px;
  padding: 5px 5px 5px 10px !important;
  margin: 3px 0 3px 8px !important;
  display: flex;
}
.product-details__content .summary__content .variations .thwvsf-wrapper-ul li .thwvsf-item-span-color {
  background: #00a3ff;
  border: 2px solid #ddd !important;
  display: inline-block !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  position: relative;
}
.product-details__content .summary__content .variations .thwvsf-wrapper-ul li .tooltiptext {
  z-index: 1;
  display: inline-block !important;
  order: 1 !important;
  line-height: 18px !important;
  font-size: 15px !important;
  margin-right: 5px !important;
  color: #444 !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: unset !important;
  bottom: unset;
  right: unset;
  left: unset;
  width: auto;
  background: transparent !important;
  margin: 0;
  padding: 0;
}
.product-details__content .summary__content .atri-single {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  line-height: 32px;
  margin: 10px 0 5px 0;
}
.product-details__content .summary__content .product_return {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.product-details__content .summary__content .product_return i {
  font-size: 17px;
  color: #81858b;
  margin-left: 10px;
}
.product-details__content .summary__content .product_return span {
  font-size: 13px;
  color: #424750;
  line-height: 25px;
}
.product-details__content .summary__content .hamta {
  margin: 7px 0;
  color: #535353;
  line-height: 30px;
  font-size: 12px;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-details__content .summary__content .hamta i {
  color: #D5901F;
  font-size: 17px;
  padding-left: 9px;
  display: inline-block;
  height: 20px;
}
.product-details__content .summary__content .hamta i img {
  height: auto;
  max-width: 100%;
}
.product-details__content .summary__content .hamta .text-hamta {
  float: left;
  width: 100%;
  font-size: 11px;
  line-height: 25px;
}
.product-details__content .summary__content .special_send_box {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 11px;
}
.product-details__content .summary__content .special_send_box .special_content_box ul {
  margin-top: 10px;
}
.product-details__content .summary__content .special_send_box .special_content_box ul li {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color: #81858b;
  margin: unset;
  margin-right: 7px;
}
.product-details__content .summary__content .special_send_box .special_content_box ul li::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  @apply text-dynamic-color-from;
  border-radius: 50%;
  margin-left: 15px;
}
.product-details__content .summary__content .special_send_box .special_header {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.product-details__content .summary__content .special_send_box .special_header a {
  width: 100%;
  display: flex;
  align-items: center;
}
.product-details__content .summary__content .special_send_box .special_header a img {
  width: 18px;
  max-width: 100%;
}
.product-details__content .summary__content .special_send_box .special_header a span {
  margin-right: 8px;
  flex-grow: 1;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #232933;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/*# sourceMappingURL=index.css.map */
