/** footer **/
.footer-s{
  background-color: #fff;
}
.main-footer{
  width: 100%;
  margin-top: 5px;
  padding-top: 20px;

  border-top: 1px solid #e0e0e2;
}
.info-boxer{
  margin: 20px 0;
}
.logo-box{
  float: right;
  height: auto;
}
.logo-box img{
  max-width: 160px;
  max-height: 50px;
  width: auto;
  height: auto;
}
.jump-box a{
  display: flex;
  align-items: center;
  float: left;
  padding: 10px 20px;
  border: 1px solid #a1a3a8;
  border-radius: 11px;
}
.jump-box span{
  font-size: 16px;
  font-weight: 400;
  color: #a1a3a8;
}

.jump-box i{
  font-size: 17px;
  font-weight: 400;
  margin-right: 10px;
  color: #a1a3a8;
  transform: rotate(180deg);
}

.tell-box{
  float: right;
  width: 100%;
  margin-top: 10px;
  color: #000;
}
.text-number ,.support ,.one-number ,.tow-number{
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
}
.line-tell{
  color: #dfdfdf;
  margin-left: 10px;
}
#button {
  display: inline-block;
  background-color: #8AC007;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 5px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "برو بالا";
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}
.sec{
  float: right;
  width: 20%;
  height: auto;
  position: relative;
  text-align: center;
}
.sec img{
  width: 49px;
  height: 49px;
}
.sec span{
  margin-top: 9px;
  width: 100%;
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #424750;
}
.line-foot{
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid #e8e8e8;
}
.foot-box{
  position: relative;
  width: 24%;
  float: right;
}

.foot-box .foot-title{
  font-size: 15px;
  font-weight: 650;
  color: #000;
  display: inline-flex;
  line-height: 30px;
  margin-bottom: 7px;
}
.foot-box.mailbox .foot-title{
  margin-bottom: 13px;
}
.foot-box .mail{
  padding-top: 20px;
  font-weight: 600;
}
.foot-box.text{
  width: 73%;
  margin-left: 25px;
  text-align: justify;
}
.foot-box .foot-menu{
  display: block;
}
.foot-box .foot-menu li{
  display: block;
  width: 100%;
  padding: 10px 0;
}
.foot-box .foot-menu li a{
  font-size: 15px;
  font-weight: 400;
  color: #81858b;
}
.menu-box span{
  padding-bottom: 15px;
  font-size: 16.3px;
  font-weight: 510;
  color: #424750f5;
  display: inline-flex;
}
.menu-box ul li{
  display: block;
  width: 100%;
  padding: 10px 0;
}
.menu-box ul li a{
  font-size: 15px;
  font-weight: 400;
  color: #81858b;
}

.social-foot .icon-social i{
  display: inline-block;
  font-size: 26px;
  padding-left: 15px;
  transition: 0.2s all;
  font-weight: 100;
  color: #333;
}
.mail-foot{
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 8px;
  align-items: center;
}
.mail-foot input{
  width: 74%;
  padding: 15px 10px;
  border-radius: 11px;
  float: right;
  font-size: 14px;
  font-weight: 400;
  margin-left: 11px;
  background: #e3e3e6;
  border: none;
  color: #81858b;
}
.mail-foot button{
  width: 17%;
  padding: 13px 0;
  background-color: #ef394e;
  color: #fff;
  border: 0;
  border-radius: 11px;
  float: left;
  font-size: 17px;
  font-weight: 500;
  transition: 0.1s all;
  cursor: pointer;
}

.mail-foot input:active,.mail-foot input:focus{
  outline: 0;
  border: 0;
}

.foot-dn-app .dn-box{
  width: 100%;
  padding: 15px 0;
  margin-top: 30px;
  @apply bg-gradient-to-r from-dynamic-color-from to-dynamic-color-to;
  border-radius: 14px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
.dn-box .dn-link{
  float: right;
  margin-left: 10px;
}
.dn-box .dn-link img{
  width: 44px;
  height: 44px;
  float: right;
  margin-right: 20px;
}
.dn-box .dn-link span{
  float: right;
  margin-top: 12px;
  font-weight: 500;
  color: #fff;
  margin-right: 20px;
  font-size: 1.240rem;
  text-shadow: 2px 1px 7px #00000047;
}
.foot-dn-app .img-dn-link{
  width: 150px;
  height: 44px;
  margin-right: 16px;
  float: left;
}
.foot-dn-app .img-dn-link img{
  width: 100%;
  height: auto;
}
.foot-dn-app .imgs-dn{
  float: left;
  margin-left: 20px;
}
.dn-box .more-dn{
  float: left;
  width: 44px;
  height: auto;
  background: #fff;
  margin-right: 16px;
  color: #000;
  border-radius: 8px;
}
.dn-box .more-dn i{
  font-size: 26px;
  font-weight: 500;
  color: #000;
  margin-top: 4px;
  margin-right: 10px;
  display: block;
}
.foot-box p{
  font-size: 12.5px;
  font-weight: 300;
  color: #81858b;
  text-align: justify;
  line-height: 26px;
}

.enamad-imgs{
  margin-top: 30px;
}
.foot-box .enamad-imgs a{
  border: 1px solid #e5e5ea;
  padding: 10px 15px;
  width: 30%;
  height: auto;
  margin-left: 6px;
  border-radius: 8px;
  float: right;
  box-sizing: border-box;
}
.foot-box img{
  width: 100%;
  height: auto;
}
.copy-right-foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
}
.copy-right-foot span{
  font-size: 13px;
  font-weight: 400;
  color: #81858b;
  line-height: 32px;
}
.br-sec{
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  margin-top: 10px
}
.br-sec .img-br{
  border-left: 1px solid #e0e0e2;
  display: inline-block;
  max-width: calc(10% - 10px);
  width: 10%;
  padding: 20px 0;
}
.br-sec .img-br img{
  width: 80%;
  height: auto;
}

.foot-box.enmads {
 @apply w-max grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  xl:grid-cols-3 gap-[10px];
  margin: 0;
}
body .foot-box.enmads .codes {
  background: #fffffff0;
}
.foot-box.enmads .codes {
  display: inline-block;
  border: 1px solid #e5e5ea;
  border-radius: 11px;
  max-width: 95px;
  width: 95px;
  padding: 10px;
}
.copy-right-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
}
.line-foot {
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid #e8e8e8;
}
.foot-core {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.footer-s .foot-box .menu-item a {
  font-size: 13px;
  font-weight: 400;
  color: #000;
}

.foot-box .foot-title {
  font-size: 15px;
  font-weight: 650;
  color: #000;
  display: inline-flex;
  line-height: 30px;
  margin-bottom: 7px;
}

.footer-s .foot-box .menu-item a {
  font-size: 13px;
  font-weight: 400;
  color: #000;
}
.footer-s .foot-box .menu-item {
  display: block;
  width: 100%;
  padding: 4px 0;
  transition: 0.2s;
}
.footer-s .foot-box .menu-item:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.clear {
  clear: both;
}
