@charset "UTF-8";
.footer-s {
  @apply bg-white;
}

.main-footer {
  @apply w-full mt-[5px] pt-5 border-t-[#e0e0e2] border-t border-solid;
}

.boxer-tells {
  @apply block mb-[2px] lg:mb-0 lg:inline-block;
}

.info-boxer {
  @apply mx-0 my-5;
}

.logo-box {
  @apply float-right h-auto;
}

.logo-box img {
  @apply max-w-[160px] max-h-[50px] w-auto h-auto;
}

.jump-box a {
  @apply flex items-center float-left border px-5 py-2.5 rounded-[11px] border-solid border-[#a1a3a8];
}

.jump-box span {
  @apply text-base font-normal text-[#a1a3a8];
}

.jump-box i {
  @apply text-[17px] font-normal text-[#a1a3a8] rotate-180 mr-2.5;
}

.tell-box {
  @apply float-right w-full text-black mt-2.5;
}

.text-number,
.support,
.one-number,
.tow-number {
  @apply text-[15px] font-normal ml-2.5;
}

.line-tell {
  @apply hidden lg:inline text-[#dfdfdf] ml-[10px];
}

#button {
  @apply inline-block bg-[#8AC007] w-[50px] h-[50px] text-center rounded fixed opacity-0 invisible z-[1000] right-[5px] bottom-[30px] after:content-["برو_بالا"] after:text-[1em] after:leading-[50px] after:text-white hover:cursor-pointer hover:bg-[#333] active:bg-[#555];
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
}

#button.show {
  @apply opacity-100 visible;
}

.sec {
  @apply float-right w-1/5 h-auto relative text-center;
}

.sec img {
  @apply w-[49px] h-[49px];
}

.sec span {
  @apply w-full block text-xs font-normal text-[#424750] mt-[9px];
}

.line-foot {
  @apply w-full relative block border-b-[#e8e8e8] border-b border-solid;
}

.foot-box {
  @apply relative w-[24%] float-right;
}

.icon-social {
  @apply flex items-center md:justify-start gap-[10px] justify-center;
}

.foot-title {
  @apply text-[15px] font-[650] text-black inline-flex leading-[30px] mb-[7px];
}

.mailbox .foot-title {
  @apply mb-[13px] mt-[13px] sm:mt-0;
}

.mail {
  @apply font-semibold pt-5;
}

.text {
  @apply w-[73%] text-justify ml-[25px];
}

.foot-menu {
  @apply block;
}

.foot-menu li {
  @apply block w-full px-0 py-2.5;
}

.foot-menu li a {
  @apply text-[15px] font-normal text-[#81858b];
}

.menu-box span {
  @apply text-[16.3px] font-[510] text-[#424750f5] inline-flex pb-[15px];
}

.menu-box ul li {
  @apply block w-full px-0 py-2.5;
}

.menu-box ul li a {
  @apply text-[15px] font-normal text-[#81858b];
}

.social-foot .icon-social i {
  @apply inline-block text-[26px] transition-[0.2s] duration-[all] font-thin text-[#333] pl-[15px];
}

.mail-foot {
  @apply flex relative w-full items-center mt-2;
}

.mail-foot input {
  @apply w-[74%] float-right text-sm font-normal text-[#81858b] ml-[11px] px-2.5 py-[15px] rounded-[11px] border-[none] bg-[#e3e3e6];
}

.mail-foot button {
  @apply w-[17%] text-white float-left text-[17px] font-medium transition-[0.1s] duration-[all] cursor-pointer px-0 py-[13px] rounded-[11px] border-0;
  @apply bg-gradient-to-r from-dynamic-color-from to-dynamic-color-to;
}

.mail-foot input:active,
.mail-foot input:focus {
  @apply border-0;
  outline: 0;
}

.foot-dn-app .dn-box {
  @apply w-full relative inline-block mt-[30px] mb-2.5 px-0 py-[15px] rounded-[14px];
  @apply bg-gradient-to-r from-dynamic-color-from to-dynamic-color-to;
}

.dn-box .dn-link {
  @apply float-right ml-2.5;
}

.dn-box .dn-link img {
  @apply w-11 h-11 float-right mr-5;
}

.dn-box .dn-link span {
  @apply float-right font-medium text-white text-[1.240rem] mr-5 mt-3;
  text-shadow: 2px 1px 7px #00000047;
}

.foot-dn-app .img-dn-link {
  @apply w-[150px] float-left mr-4;
}

.foot-dn-app .img-dn-link img {
  @apply w-full h-auto;
}

.foot-dn-app .imgs-dn {
  @apply float-left ml-5;
}

.dn-box .more-dn {
  @apply float-left w-11 h-auto text-black mr-4 rounded-lg;
  background: #fff;
}

.dn-box .more-dn i {
  @apply text-[26px] font-medium text-black block mr-2.5 mt-1;
}

.enamad-imgs {
  @apply mt-[30px];
}

.enamad-imgs a {
  @apply border w-[30%] h-auto float-right box-border ml-1.5 px-[15px] py-2.5 rounded-lg border-solid border-[#e5e5ea];
}

img {
  @apply w-full h-auto;
}

.copy-right-foot {
  @apply flex items-center justify-between px-0 py-[7px] flex items-center justify-between px-0 py-[7px];
}

.copy-right-foot span {
  @apply text-[13px] font-normal text-[#81858b] leading-8;
}

.br-sec {
  @apply w-full bg-[#f2f2f2] flex relative text-center items-center mt-2.5 mx-auto my-0;
}

.br-sec .img-br {
  @apply inline-block max-w-[calc(10%_-_10px)] w-[10%] px-0 py-5 border-l-[#e0e0e2] border-l border-solid;
}

.br-sec .img-br img {
  @apply w-4/5 h-auto;
}

.enmads {
  @apply m-0;
  @apply w-max grid grid-cols-4 sm:grid-cols-5 md:grid-cols-8 lg:grid-cols-3  xl:grid-cols-3 gap-[10px];
}
.enmads img {
  @apply rounded-2xl bg-[#e3e3e6] py-[10px] px-[5px] w-[100px] h-[100px] object-contain;
}

body .enmads .codes {
  background: #fffffff0;
}

.enmads .codes {
  @apply inline-block border p-2.5 rounded-[11px] border-solid border-[#e5e5ea];
  @apply w-auto max-w-[auto] lg:max-w-[95px] lg:w-[95px];
}

.foot-core {
  @apply flex items-center justify-between w-full mx-0 my-5;
}

.foot-core p {
  @apply max-h-[50px] overflow-hidden text-[12.5px] font-light text-[#81858b] text-justify leading-[26px];
}

.foot-core p.open {
  @apply max-h-[unset];
}

.foot-core .mask-handler {
  @apply mx-0 my-[3px];
}

.foot-core .show-less,
.foot-core .show-more {
  @apply text-xs cursor-pointer px-0 py-[5px];
}

.foot-core .show-more {
  @apply items-center font-semibold text-[#4b4b4b];
  text-align: unset;
}

.foot-core .show-less {
  @apply text-[#1051ef] mb-[30px];
}

.footer-s .menu-item a {
  @apply text-[13px] font-normal text-black text-[13px] font-normal text-black;
}

.footer-s .menu-item {
  @apply block w-full transition-[0.2s] px-0 py-1 hover:opacity-80 hover:transition-[0.2s];
}

.clear {
  @apply clear-both;
}

.footer-menu-mobile {
  @apply px-[15px] py-[9px] rounded-[14px];
  @apply block md:hidden;
  background: #f4f4f4;
}

.footer-menu-mobile .collapse__title {
  @apply text-sm leading-6 text-[#222] font-bold block;
}

.footer-menu-mobile .collapse__title > div {
  @apply flex justify-between items-center;
}

@media (max-width: 990px) {
  .footer-s .menu-item {
    @apply p-0;
  }

  .footer-s .menu-item a {
    @apply text-xs leading-[27px] text-[#4d4d4d];
  }

  .logo-box img {
    @apply max-h-[38px] max-w-[140px] h-auto w-auto;
  }

  .jump-box a span {
    @apply text-sm font-normal;
  }

  .jump-box a {
    @apply px-2.5 py-2;
  }

  .text-number {
    @apply text-xs font-bold text-[#333] ml-1.5;
  }

  .tow-number {
    @apply tracking-[1px] text-[#424750] text-[13px];
    font-family: tahoma;
  }

  .support {
    @apply block text-[13px] text-[#4d4d4d] font-normal;
  }

  .one-number {
    @apply tracking-[1px] text-[#424750] text-[13px];
  }

  .footer-menu-mobile {
    @apply mx-0 my-3 px-[15px] py-[9px];
  }

  .dn-box .dn-link span {
    @apply text-white text-[13px] block m-0 p-0;
    text-shadow: none;
    float: unset;
  }

  .foot-dn-app .dn-box {
    @apply text-center mt-[15px] border-t-[#e0e0e2] border-t border-solid;
  }

  .footer-s .dn-box .dn-link {
    @apply flex items-center justify-center;
    float: unset !important;
  }

  .footer-s .dn-box .dn-link img {
    @apply block w-[34px] h-[34px];
  }

  .foot-dn-app .imgs-dn {
    @apply block text-center mx-auto my-0 pt-5;
  }

  .footer-s .dn-box .dn-link span {
    @apply mr-2.5;
  }

  .footer-s .foot-dn-app .imgs-dn {
    @apply w-full mt-2.5;
  }

  .footer-s .main-footer .foot-dn-app .img-dn-link {
    @apply w-[34%] inline-block mr-[5px] mt-0.5;
    float: unset;
  }

  .main-footer .foot-box.mailbox {
    @apply w-full text-center block mx-0 my-1.5 px-0 py-2 border-t-[#e0e0e2] border-t border-solid;
  }

  .main-footer .foot-box.mailbox .foot-title {
    @apply text-xs text-[#b0b0b0];
  }

  .foot-title.mail {
    @apply text-sm leading-6 text-[#222] mt-1.5;
  }

  .footer-s .main-footer .copy-right-foot span {
    @apply text-xs font-normal text-[#81858b] leading-5 p-2.5;
  }

  .copy-right-foot span.latin_copyright {
    @apply hidden;
  }

  .foot-core {
    @apply block;
  }

  .main-footer .foot-box.text,
.main-footer .foot-box.enmads {
    @apply w-full mx-0 my-1.5;
    float: unset;
  }

  .main-footer .foot-box .foot-title {
    @apply text-sm leading-6 text-[#222] font-bold block;
  }

  .foot-box.enmads {
    @apply justify-center;
  }
}

/*# sourceMappingURL=index.css.map */
