
:root {
  --swiper-pagination-color: #4859f9;
  --swiper-pagination-bullet-size: 4px;
  --swiper-pagination-bullet-width: 4px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-inactive-color: #3535357a;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 0px;
}

.homeSlider {

  img {
    @apply mx-auto;
  }

}

.swiper-button-disabled{
  @apply opacity-30 cursor-not-allowed;
}
.swiper-pagination {
  @apply flex items-center absolute;
  @apply absolute w-max md:left-[70px] bottom-[10px] #{!important};
  @media (max-width: 767.98px) {
    right: 50%;
    transform: translateX(50%) !important;
  }
}

.swiper-button{
  top:50%;
  transform: translateY(-50%);
}

.swiper-button.right {
  position: absolute;
  background: rgba(33, 33, 33, .2);
  color: #fff;
  right: 0;
  transition: 0.2s all;
  padding: 12px 12px;
  font-size: 16px;
  border-radius: 0;
  border-top-left-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
  border: 1px solid;
}

.swiper-button.left {
  position: absolute;
  background: rgba(33, 33, 33, .2);
  color: #fff;
  left: 0;
  transition: 0.2s all;
  border-radius: 50%;
  padding: 12px 12px;
  font-size: 16px;
  border-radius: 0;
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
  border: 1px solid;
}